// CASE STUDY GRID SYSTEM
.case-study-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 1em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.g1-4 {
  grid-column: 1/4;
}
.g1-5 {
  grid-column: 1/5;
}
.g1-9 {
  grid-column: 1/9;
}
.g2-4 {
  grid-column: 2/4;
}
.g2-5 {
  grid-column: 2/5;
}
.g2-6 {
  grid-column: 2/6;
}
.g2-7 {
  grid-column: 2/7;
}
.g2-8 {
  grid-column: 2/8;
}
.g3-7 {
  grid-column: 3/7;
}
.g3-8 {
  grid-column: 3/8;
}
.g4-9 {
  grid-column: 4/9;
}
.g5-8 {
  grid-column: 5/8;
}
.g5-9 {
  grid-column: 5/9;
}
.g6-9 {
  grid-column: 6/9;
}

section {
  padding: 90px 0;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  color: #414042;
}
h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #414042;
  margin-bottom: 0.2em;
}
p,
li {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #414042;
}

.image-slide {
  // caption text
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #c4c4c4;
  position: relative;
}
img {
  &.border {
    border: solid 5px #ececec;
  }
}
.white {
  background: #fff;
}
.dark {
  background: #171c23;
  h2 {
    color: #f6f9fd;
    &.cancel-that {
      text-decoration-line: line-through;
      color: #cd0a0a;
    }
  }
  h3,
  h4 {
    color: #f6f9fd;
  }
  p,
  a {
    color: #cad5e2;
  }
}

//                  INQUICKER
.inquicker-case-study {
  body & {
    background: #f9f9f9;
  }
  header {
    background-color: #fff;
    color: $color-inquicker-red;
    a {
      color: $color-inquicker-red;
    }
  }
  .inquicker {
    padding: 0px;
  }
  .hero-image {
    @include screenshot-shadow-white;
    border-radius: 5px;
  }
  .video {
    width: 100%;
  }
  .iterations {
    position: relative;
    img {
      position: absolute;
      width: 80%;
      margin-bottom: 0;
    }
    .it2 {
      top: 2em;
      left: 2em;
    }
    .it3 {
      top: 4em;
      left: 4em;
    }
    .it4 {
      top: 6em;
      left: 6em;
    }
    .it5 {
      top: 8em;
      left: 8em;
    }
  }
}

//                  INVISION
.invision-case-study {
  body & {
    background: #f9f9f9;
  }
  header {
    background-color: $color-invision-pink;
    color: #fff;
    a {
      color: #fff;
    }
  }
  .hero-image {
    border-radius: 3px;
    @include screenshot-dropshadow;
  }
  .iteration {
    border-radius: 3px;
    margin: 40px 0;
    @include screenshot-dropshadow;
  }
  .intro {
    .logo {
      width: 85%;
    }
    h2 {
      font-weight: 300;
      font-size: 22px;
      color: $color-invision-pink;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 14px;
      color: #414042;
    }
    .hero-image {
      @include screenshot-dropshadow;
      margin-bottom: 0px;
      border-radius: 3px;
    }
  }
}

// LINKS AT END OF CASE STUDY
.end-of-cs {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
  background: #171c23;
  padding: 0;
  .shim1 {
    background-color: #292f3e;
    grid-column: 1/2;
  }
  .shim2 {
    background-color: #e5eff6;
    grid-column: 3/4;
  }
  .case-study-grid {
    padding: 0;
  }
  .back-home {
    background-color: #292f3e;
    border-radius: 0 5px 5px 0;
    padding: 40px;
  }
  p {
    font-size: 12px;
    line-height: 1.5em;
  }
  .go-to-inquicker {
    background-color: #e5eff6;
    border-radius: 5px 0 0 5px;
    display: grid;
    grid-template-columns: minmax(270px, 1fr) minmax(310px, 1.4fr);
    grid-column-gap: 1em;
    h2 {
      color: $color-inquicker-red;
      font-size: 16px;
      font-weight: 300;
    }
    .iq-copy {
      padding: 40px 0 40px 40px;
    }
    .logo {
      margin-bottom: 3px;
      width: 85%;
    }
    .hero {
      align-self: end;
      padding-top: 10px;
    }
    .hero-image {
      margin-bottom: -5px;
    }
  }
  .go-to-invision {
    background-color: #e5eff6;
    border-radius: 5px 0 0 5px;
    display: grid;
    grid-template-columns: minmax(270px, 1fr) minmax(310px, 1.4fr);
    grid-column-gap: 1em;
    h2 {
      color: $color-invision-pink;
      font-size: 16px;
      font-weight: 300;
    }
    .iv-copy {
      padding: 40px 0 40px 40px;
    }
    .logo {
      margin-bottom: 3px;
      width: 85%;
    }
    .hero {
      align-self: center;
    }
    .hero-image {
      margin-bottom: 0;
      border-radius: 3px;
    }
  }
}
