// CASE STUDY GRID SYSTEM
.case-study-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 1em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.g1-4 {
  grid-column: 1/4;
}
.g1-5 {
  grid-column: 1/5;
}
.g1-9 {
  grid-column: 1/9;
}
.g2-4 {
  grid-column: 2/4;
}
.g2-5 {
  grid-column: 2/5;
}
.g2-6 {
  grid-column: 2/6;
}
.g2-7 {
  grid-column: 2/7;
}
.g2-8 {
  grid-column: 2/8;
}
.g3-6 {
  grid-column: 3/6;
}
.g3-7 {
  grid-column: 3/7;
}
.g3-8 {
  grid-column: 3/8;
}
.g4-8 {
  grid-column: 4/8;
}
.g4-9 {
  grid-column: 4/9;
}
.g5-7 {
  grid-column: 5/7;
}
.g5-8 {
  grid-column: 5/8;
}
.g5-9 {
  grid-column: 5/9;
}
.g6-9 {
  grid-column: 6/9;
}
.g7-9 {
  grid-column: 7/9;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  color: #414042;
}
h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #414042;
  margin-bottom: 0.2em;
}
p,
li {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #414042;
}

.image-slide {
  // caption text
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #c4c4c4;
  position: relative;
}
img {
  &.border {
    border: solid 5px #ececec;
  }
}
.white {
  background: #fff;
}
.dark {
  background: #171c23;
  h2 {
    color: #f6f9fd;
    &.cancel-that {
      text-decoration-line: line-through;
      color: #cd0a0a;
    }
  }
  h3,
  h4 {
    color: #f6f9fd;
  }
  p,
  a,
  li {
    color: #cad5e2;
  }
  .image-slide {
    img {
      border-radius: 5px;
    }
  }
}

//                  Sightbox
.sightbox-case-study {
  body & {
    background: #f9f9f9;
  }
  header {
    background-color: $color-sightbox-blue;
    color: #fff;
    a {
      color: #fff;
    }
  }
  section {
    padding: 90px 0;
  }
  .intro {
    .logo {
      margin-bottom: 30px;
    }
    h2 {
      // margin-bottom: 0.5em;
      font-size: 36px;
    }
    .section-wrapper {
      grid-template-columns: minmax(300px, 400px) minmax(400px, 700px);
      grid-column-gap: 2em;
      display: grid;
      padding-bottom: 0;
    }
  }
  .sightbox {
    padding: 0px;
    .section-wrapper {
      padding: 40px;
    }
  }
  .hero-image {
    @include screenshot-shadow-white;
    border-radius: 8px;
    border: 1px solid #e0e1e3;
  }
  .wireframe-overlap {
    margin-top: -40%;
  }
}

//                  INQUICKER
.inquicker-case-study {
  body & {
    background: #f9f9f9;
  }
  header {
    background-color: #fff;
    color: $color-inquicker-red;
    a {
      color: $color-inquicker-red;
    }
  }
  section {
    padding: 90px 0;
  }
  .intro {
    .logo {
      margin-bottom: 30px;
    }
    h2 {
      margin-bottom: 0.5em;
    }
  }
  .inquicker {
    padding: 0px;
    .section-wrapper {
      padding: 40px;
    }
  }
  .hero-image {
    @include screenshot-shadow-white;
    border-radius: 5px;
  }
  .video {
    width: 100%;
  }
  .fixsize {
    width: 130%;
    margin-left: -15%;
  }
  .final-iq {
    grid-template-columns: 5em 1fr 16px 3fr 5em;
    grid-column-gap: 0em;
    .hero-iphone {
      grid-column: 2/4;
      grid-row: row 1;
      align-self: end;
      margin-bottom: 1.5em;
      z-index: 2;
    }
    .hero-app {
      grid-column: 3/5;
      grid-row: row 1;
      align-self: end;
    }
  }
}

//                  INVISION
.invision-case-study {
  body & {
    background: #f9f9f9;
  }
  header {
    background-color: $color-invision-pink;
    color: #fff;
    a {
      color: #fff;
    }
  }
  section {
    padding: 90px 0;
  }
  .hero-image {
    border-radius: 3px;
    @include screenshot-dropshadow;
  }
  .iteration {
    border-radius: 3px;
    margin: 40px 0;
    @include screenshot-dropshadow;
  }
  .intro {
    .logo {
      width: 85%;
      margin-bottom: 30px;
    }
    h2 {
      font-weight: 300;
      font-size: 22px;
      color: $color-invision-pink;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 14px;
      color: #414042;
    }
    .hero-image {
      @include screenshot-dropshadow;
      margin-bottom: 0px;
      border-radius: 3px;
    }
  }
}

// LINKS AT END OF CASE STUDY
.end-of-cs {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
  background: #171c23;
  padding: 40px 0;
  .shim1 {
    background-color: #292f3e;
    grid-column: 1/2;
  }
  .shim2 {
    background-color: #e5eff6;
    grid-column: 3/4;
  }
  .case-study-grid {
    padding: 0;
  }
  .back-home {
    background-color: #292f3e;
    border-radius: 0 5px 5px 0;
    padding: 40px;
  }
  p {
    font-size: 12px;
    line-height: 1.5em;
  }
  .hero {
    padding-right: 40px;
  }
  .go-to-inquicker {
    background-color: #e5eff6;
    border-radius: 5px 0 0 5px;
    display: grid;
    grid-template-columns: minmax(270px, 1fr) minmax(310px, 1.4fr);
    grid-column-gap: 1em;

    h2 {
      color: $color-inquicker-red;
      font-size: 16px;
      font-weight: 300;
    }
    .iq-copy {
      padding: 40px 0 40px 40px;
    }
    .logo {
      margin-bottom: 3px;
      width: 85%;
    }
    .hero {
      align-self: end;
      padding-top: 10px;
      margin-bottom: -5px;
    }
  }
  .go-to-invision {
    background-color: #e5eff6;
    border-radius: 5px 0 0 5px;
    display: grid;
    grid-template-columns: minmax(270px, 1fr) minmax(310px, 1.4fr);
    grid-column-gap: 1em;
    h2 {
      color: $color-invision-pink;
      font-size: 16px;
      font-weight: 300;
    }
    .iv-copy {
      padding: 40px 0 40px 40px;
      p {
        color: #414042;
      }
    }
    .logo {
      margin-bottom: 3px;
      width: 85%;
    }
    .hero {
      align-self: center;
    }
    .hero-image {
      margin-bottom: 0;
    }
  }
}
