// CASE STUDY GRID SYSTEM
.case-study-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 1em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.g1-3 {
  grid-column: 1/3;
}
.g1-4 {
  grid-column: 1/4;
}
.g1-5 {
  grid-column: 1/5;
}
.g1-9 {
  grid-column: 1/9;
}
.g2-4 {
  grid-column: 2/4;
}
.g2-5 {
  grid-column: 2/5;
}
.g2-6 {
  grid-column: 2/6;
}
.g2-7 {
  grid-column: 2/7;
}
.g2-8 {
  grid-column: 2/8;
}
.g3-5 {
  grid-column: 3/5;
}
.g3-6 {
  grid-column: 3/6;
}
.g3-7 {
  grid-column: 3/7;
}
.g3-8 {
  grid-column: 3/8;
}
.g3-9 {
  grid-column: 3/9;
}
.g4-8 {
  grid-column: 4/8;
}
.g4-9 {
  grid-column: 4/9;
}
.g5-7 {
  grid-column: 5/7;
}
.g5-8 {
  grid-column: 5/8;
}
.g5-9 {
  grid-column: 5/9;
}
.g6-9 {
  grid-column: 6/9;
}
.g7-9 {
  grid-column: 7/9;
}

h2 {
  font-weight: 600;
  font-size: 1.4em;
  margin: 1em 0 0.6em 0;
  line-height: 1.3em;
  color: #414042;
}
h3 {
  font-weight: 600;
  font-size: 1.2em;
  margin: 1.3em 0 0.5em 0;
  line-height: 1.3em;
  color: #414042;
}
h4 {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 21px;
  color: #414042;
  margin-bottom: 0.2em;
}
p,
li {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #414042;
}

.image-slide {
  // caption text
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #c4c4c4;
  position: relative;
}
img {
  &.border {
    border: solid 5px #ececec;
  }
}
.white {
  background: #fff;
}
.dark {
  background: #171c23;
  h2 {
    color: #f6f9fd;
    &.cancel-that {
      text-decoration-line: line-through;
      color: #cd0a0a;
    }
  }
  h3,
  h4 {
    color: #f6f9fd;
  }
  p,
  a,
  li {
    color: #dae2eb;
  }
  strong {
    color: #fff;
  }
  .image-slide {
    img {
      border-radius: 5px;
    }
  }
}
// sprinklr Case Study
.sprinklr-case-study {
  @import "sprinklr-case-study";
}
// Sightbox Case Study
.sightbox-case-study {
  @import "sightbox-case-study";
}

//InQuicker Case Study
.inquicker-case-study {
  @import "inquicker-case-study";
}

// InVision Case Study
.invision-case-study {
  @import "invision-case-study";
}

// LINKS AT END OF CASE STUDY
.suggest-new-case-study {
  // display: grid;
  // grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
  background: #171c23;
  padding: 40px 0;
  overflow: hidden;

  .case-study-grid {
    padding: 0;
    //temp
    margin-bottom: 50px;
  }
  .back-home {
    background-color: #292f3e;
    border-radius: 0 5px 5px 0;
    padding: 40px;
  }
  p {
    font-size: 12px;
    line-height: 1.5em;
  }
  .hero {
    // padding-top: 30px;
  }
  .go-to-container {
    background-color: #e5eff6;
    border-radius: 8px;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) minmax(400px, 1fr);
    grid-column-gap: 2em;
    height: 100%;
    overflow: hidden;

    h2 {
      font-size: 16px;
      font-weight: 300;
    }
    .logo {
      margin-bottom: 3px;
      width: 85%;
    }
    .content {
      padding: 40px 0 40px 40px;
      align-self: center;
    }
    .hero-image {
      box-shadow: none;
    }
  }
  .go-to-sprinklr {
    background-color: #000;
    h2 {
      color: #fff;
    }
    p {
      color: #dae2eb;
    }
    .hero {
      align-self: end;
      padding-top: 10px;
    }
    .hero-image {
      border-radius: 0;
    }
  }
  .go-to-sightbox {
    background-color: #f9fafb;
    h2 {
      color: $color-sightbox-blue;
    }
    .hero {
      align-self: end;
      // padding-top: 10px;
      margin-bottom: -30px;
    }
  }
  .go-to-inquicker {
    h2 {
      color: $color-inquicker-red;
    }
    // .arrow-right {
    //   fill: $color-inquicker-red;
    // }
    .hero {
      align-self: end;
      padding-top: 30px;
    }
  }
  .go-to-invision {
    h2 {
      color: $color-invision-pink;
    }
    .case-study-link {
      color: $color-invision-pink;
    }
    // .arrow-right {
    //   fill: $color-invision-pink;
    // }
    .hero {
      align-self: center;
    }
    .hero-image {
      margin-bottom: 0;
      border-radius: 8px;
    }
  }
}
