//                  INVISION
// .invision-case-study {
body & {
  background: #f9f9f9;
}
header {
  background-color: $color-invision-pink;
  color: #fff;
  .header-logo .g-logo {
    fill: rgba(255, 255, 255, 0.8);
  }
  a {
    color: #fff;
  }
}
section {
  padding: 90px 0;
}
.design-iterations {
  .case-study-grid {
    grid-row-gap: 3em;
  }
}
.hero-image-container {
  @include screenshot-shadow-white;
  border-radius: 8px;
}
.hero-image-in-container {
  border-radius: 8px;
}
.hero-image {
  border-radius: 8px;
  @include screenshot-dropshadow;
}
.iteration {
  border-radius: 8px;
  margin: 40px 0;
  @include screenshot-dropshadow;
}
.intro {
  .logo {
    max-width: 260px;
    margin-bottom: 30px;
  }
  h2 {
    font-weight: 300;
    font-size: 22px;
    color: $color-invision-pink;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 14px;
    color: #414042;
  }
  .hero-image {
    @include screenshot-dropshadow;
    margin-bottom: 0px;
    border-radius: 5px;
  }
}
