@media only screen and (max-width: 667px) {
  header {
    .section-wrapper {
      padding: 10px 20px 20px;
      display: block;
      a {
        font-size: 12px;
      }
      h1 {
        text-align: center;
        margin: 25px 0 10px 0;
      }
    }
  }

  //                  HOME
  .bio {
    figure {
      text-align: center;
    }
    .section-wrapper {
      display: block;
    }
  }
  .inquicker {
    .section-wrapper {
      padding: 60px 40px;
      grid-template-columns: 1fr;
    }
    .section-content {
      padding-top: 0;
    }
  }
  .invision,
  .sprintly,
  .appfog {
    .section-wrapper {
      padding: 60px 40px;
      grid-template-columns: 1fr;
      grid-row-gap: 1em;
    }
    .logo {
      width: 80%;
    }
  }
  .sprintly .section-wrapper {
    .section-content {
      grid-row: 1;
    }
  }
  .appfog .section-wrapper {
    padding-bottom: 0;
  }

  //                  CASE STUDIES
  .case-study-grid {
    // grid-template-columns: 1fr;
    display: block;
    // overflow: hidden;

    //        BOTTOM OF CS LINKS
    .back-home {
      padding: 40px;
      border-radius: 0px;
    }
    .go-to-invision {
      display: block;
      padding: 40px;
      border-radius: 0;
      .iv-copy {
        padding: 0;
      }
    }
    .hero {
      margin: 20px 0 0 0;
      padding: 0;
    }
    .go-to-inquicker {
      display: block;
      border-radius: 0;
      .hero {
        padding: 0 20px;
        margin-top: 0;
      }
      .iq-copy {
        padding: 40px;
      }
    }
  }
  .inquicker-case-study,
  .invision-case-study {
    section {
      padding: 60px 0;
    }
    .fixsize {
      width: 100%;
      margin: 0;
    }
    .inquicker-hero-group {
      margin: 0 -1em;
    }
    .iteration {
      margin: 20px 0;
    }
    .end-of-cs {
      padding: 0;
    }
    .final-iq {
      display: grid;
      padding: 0;
      grid-template-columns: 1em 1fr 16px 3fr 1em;
    }
    .final-image-iv {
      margin: 0 -2em;
    }
  }
}
