// Sprinklr
// .sprinklr-case-study
body & {
  background: #f9f9f9;
}
section {
  padding: 90px 0;
}
// .section-wrapper {
//   padding: 40px;
// }
.sprinklr {
  padding: 0px;
}

header {
  background-color: $color-sprinklr-blue;
  color: #fff;
  .header-logo .g-logo {
    fill: rgba(255, 255, 255, 0.8);
  }
  a {
    color: #fff;
  }
}
.case-study-grid {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
.intro {
  overflow: hidden;
  .logo {
    margin-bottom: 30px;
  }
  h2 {
    margin-bottom: 0.5em;
    font-size: 24px;
  }
  .section-wrapper {
    grid-template-columns: minmax(300px, 400px) minmax(400px, 700px);
    grid-column-gap: 2em;
    display: grid;
    padding-bottom: 0;
    overflow: hidden;
  }
  .hero-image-container {
    align-self: end;
  }
}
img.border.hyperspace-files {
  border: solid 5px #ececec;
}
.hero-image {
  // @include screenshot-shadow-white;
  // border-radius: 8px;
  // margin-bottom: 0px;
}
img.border {
  border: none;
  border-radius: 8px;
}
.video {
  width: 100%;
  border-radius: 8px;
}
