@import url("https://rsms.me/inter/inter.css");
@import "variables";
@import "home";
@import "case-studies";
// media quieries IMPORT at end
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
a,
button,
input,
li {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
img {
  margin: 0;
}
header {
  background: #171c23;
  .section-wrapper {
    &.header-wrapper {
      grid-template-columns: max-content auto max-content;
      align-items: center;
    }
  }
  &:hover .header-logo {
    .g-logo {
      fill: rgba(255, 255, 255, 1);
    }
    .site-text {
      opacity: 1;
    }
  }

  .header-logo {
    grid-column: 1;
    //logo and text lockup
    display: inline-flex;
    align-items: center;

    .g-logo {
      fill: rgba(255, 255, 255, 0.6);
      margin-right: 8px;
      transition: fill 0.8s ease-in-out;
    }

    .site-text {
      opacity: 0;
      transition: opacity 0.8s ease-in-out;
    }
  }
  .header-title {
    grid-column: 2;
  }
  .header-email {
    grid-column: 3;
    .email {
      text-align: right;
      span {
        font-weight: 400;
      }
    }
  }
  a {
    font-size: 14px;
    font-weight: 300;
    color: #757e8d;
    text-decoration: none;
  }
  a span {
    font-weight: 400;
  }

  a:hover {
    text-decoration: underline;
  }

  .section-wrapper {
    padding: 40px 60px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  h1.page-header {
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    letter-spacing: -0.02em;
    margin-bottom: 0;
    padding: 0 2em;
    font-weight: 300;
  }
}
footer {
  background: #171c23;
  color: #757e8d;
  &:hover .footer-logo .g-logo {
    fill: #fff;
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      margin-bottom: 8px;
      a:hover {
        text-decoration: none;
        span {
          text-decoration: underline;
        }
      }
    }
  }
  .footer-logo {
    .g-logo {
      fill: #757e8d;
      margin-right: 8px;
      transition: fill 0.4s ease;
    }
    a {
      padding: 0;
    }
    .site-text {
      opacity: 0;
      transition: opacity 0.8s ease-in-out;
    }
    &:hover .site-text {
      opacity: 1;
    }
  }
  a {
    font-size: 13px;
    font-weight: 300;
    color: #757e8d;
    text-decoration: none;
  }
  a span {
    font-weight: 500;
    color: #b6bfcf;
  }
  a:hover {
    text-decoration: underline;
  }
  .section-wrapper {
    padding: 80px 60px;
    text-align: center;
  }
}

//email copy button
button.email-copy-button {
  border: none;
  background-color: none;
  background: none;
  font-size: 13px;
  font-weight: 300;
  color: #757e8d;
  text-decoration: none;
  footer & {
    color: #757e8d;
  }
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  span {
    font-weight: 500;
    color: #b6bfcf;
  }
}
header button.email-copy-button {
  .sprinklr-case-study &,
  .sightbox-case-study &,
  .invision-case-study & {
    color: #fff;
  }
  .inquicker-case-study & {
    color: $color-inquicker-red;
  }
  span {
    .sprinklr-case-study &,
    .sightbox-case-study &,
    .inquicker-case-study &,
    .invision-case-study & {
      color: #fff;
    }
    .inquicker-case-study & {
      color: $color-inquicker-red;
    }
  }
}
footer button.email-copy-button {
  &:hover {
    text-decoration: none;
    span {
      text-decoration: underline;
    }
  }
}
//tooltip styling
.tooltip {
  // opacity: 1 !important;
  border-radius: 22px;
  color: #e1e1e1;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px 12px;
  font-size: 13px;
  &.show {
    opacity: 1 !important;
  }
  &.place-bottom {
    margin-top: 4px !important;
  }
  &.place-top {
    margin-top: 0px !important;
  }
  &::after {
    //hide caret
    display: none;
  }
}
@import "media-queries";
