@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i");

header {
  background: #171c23;
  /* height: 72px; */
}
header a {
  font-size: 14px;
  font-weight: 100;
  color: #49515e;
  text-decoration: none;
}
header a span {
  font-weight: 500;
}
header a:hover {
  text-decoration: underline;
}
header .section-wrapper {
  padding: 20px 60px;
}
footer {
  background: #171c23;
}
footer a {
  font-size: 14px;
  font-weight: 100;
  color: #49515e;
  text-decoration: none;
}
footer a span {
  font-weight: 500;
}
footer a:hover {
  text-decoration: underline;
}
footer .section-wrapper {
  padding: 20px 60px;
}
body {
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

section {
  /* padding: 40px; */
}
.section-wrapper {
  max-width: 1200px;
  margin: auto auto;
  padding: 40px 60px;
}

section.bio {
  background: #171c23;
  padding: 80px 0 40px 0;
}
section.bio .section-wrapper {
  max-width: 600px;
  margin: 0 auto;
  grid-template-columns: 210px auto;
  display: grid;
  padding: 0 40px;
}
section.bio .bio-pic {
  margin-bottom: 5px;
  border: solid 10px rgba(255, 255, 255, 0.1);
}
.bio figure:hover figcaption {
  opacity: 1;
}
.bio figcaption {
  color: #abb9c9;
  font-size: 12px;
  opacity: 0;
  transition: opacity 2s;
}
.bio figcaption a {
  color: #abb9c9;
}
section.bio .bio-text {
  margin-left: 40px;
}
section.bio h1 {
  font-size: 26px;
  line-height: 1.2;
  color: #f6f9fd;
  font-weight: 300;
}
section.bio h1 span {
  font-weight: bold;
}
section.bio p {
  color: #abb9c9;
  font-size: 16px;
}
section.bio .contribute {
  font-size: 14px;
  grid-column-end: span 2;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}
.contribute .arrow {
  top: 4px;
  left: 6px;
  position: relative;
}
section.inquicker {
  background: #e5eff6;
}
.inquicker .section-content .logo,
.invision .section-content .logo {
  width: 80%;
}
.section-content .logo {
  margin-bottom: 6px;
}
.section-content {
  /* padding-top: 40px; */
}
a.case-study-link {
  font-size: 16px;
  text-decoration: none;
  color: #ee3124;
  border-bottom: 2px solid #ee3124;
}
.invision a.case-study-link {
  font-size: 16px;
  text-decoration: none;
  color: #ff3366;
  border-bottom: 2px solid #ff3366;
}
.arrow-right {
  margin-bottom: 0px;
  top: 8px;
  position: relative;
  left: 2px;
  padding-bottom: 3px;
  transition: 0.3s all ease;
}
a.case-study-link:hover .arrow-right {
  left: 5px;
}
.inquicker {
  overflow: hidden;
}
.inquicker .section-wrapper,
.invision .section-wrapper {
  grid-template-columns: minmax(200px, 350px) minmax(400px, 1fr);
  grid-column-gap: 3em;
  display: grid;
}
.inquicker .section-wrapper {
  padding: 40px 60px 0;
}
.inquicker .section-content {
  padding-top: 20%;
}
.inquicker .hero-image,
.invision .hero-image {
  justify-self: end;
  margin-bottom: 0;
}
.inquicker .hero-image {
  margin-bottom: 0px;
  place-self: end;
}
.invision .hero-image {
  place-self: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}
.inquicker h2 {
  color: #ee3124;
  font-size: 22px;
  font-weight: 200;
}
.inquicker p {
  font-size: 14px;
  color: #414042;
}
section.invision {
  background: #151d2f;
}
.invision .section-wrapper {
  padding-top: 80px;
}
.invision .section-content {
  place-self: normal;
}
.invision h2 {
  color: #ff3366;
  font-size: 22px;
  font-weight: 200;
}

.invision p {
  font-size: 14px;
  color: #cad5e2;
}
section.sprintly {
  background: #dee5ea;
}
.sprintly .section-wrapper {
  grid-template-columns: minmax(320px, 544px) minmax(200px, 400px);
  grid-column-gap: 2em;
  display: grid;
  text-align: center;
}
.sprintly .section-content,
.appfog .section-content {
  place-self: center;
}
section.appfog {
  background: #f1f1f1;
}

.sprintly h2,
.appfog h2 {
  font-size: 20px;
  font-weight: 200;
}
.sprintly h2 {
  color: #20718d;
}
.sprintly .hero-image {
  margin-bottom: 0px;
  border-radius: 5px;
  border: solid 1px #c6c6c6;
  place-self: center;
}
.appfog .section-wrapper {
  padding-bottom: 0px;
  grid-template-columns: minmax(200px, 360px) minmax(320px, 544px);
  grid-column-gap: 2em;
  display: grid;
  text-align: center;
}
.appfog h2 {
  color: #123f6b;
}
.appfog .hero-image {
  margin-bottom: 0px;
}
